<div class="row">
  <h2>Backtracks for: <%= @lastfm_user %></h2>
</div>
<div class="row">
  <div class="two columns">&nbsp;</div>
  <div class="eight columns email">
    <%= render partial: 'application/chart_v1', locals: {years: @years} %>
  </div>
  <div class="two columns">&nbsp;</div>
</div>
