<p>Hi everyone!</p>

<p>If you're reading this, you've received this email from the brand-new Backtracks 2.0! The platform as it previously existed was a piece of software I wrote in 2011, when I was a tiny baby, and it was extremely unreliable and hard to maintain. Some of you may have signed up and never gotten any emails, for which I heartily apologize!</p>

<p><b>By default, you should continue receiving emails once a week</b>. For most of you, <b>the day you will receive them will change</b>. If you haven't been receiving emails, the good news is that I should be more able to dig into _why_ this is happening to you, so feel free to reach out if you're having trouble. <b>You can still log into the website and turn off the emails for a while if you want</b>—but this is why I need to give you write this whole thing now:</p>

<p>As part of this new system, I've moved Backtracks over to using an email/password login system rather than Twitter auth. This is better for everyone—I needed your email anyway, and there was no real reason to require you to use and give me access to your Twitter details. However, in order to migrate you over, you needed a password. So you've all been assigned random and nigh-impossible-to-guess passwords as new defaults, and <b>to log in to the new site, you'll need to reset your password</b>.</p>

<p>Just take a look at the email address that you received this via, and then go to this page and enter that address in order to get a password reset email: <a href="http://www.backtracks.co/recover_password">http://www.backtracks.co/recover_password</a></p>

<p>With the new website, I've got some other cool features in the works. If you're interested in hearing about things as they happen, you can follow Backtracks on Twitter at <a href="https://twitter.com/backtracks_co">@backtracks_co</a>.</p>

<p>Sorry for the huge long thing. Enjoy your charts and have a great day!</p>

<hr>

<%= render partial: 'application/chart_v1', locals: {years: years} %>
