<html>
  <body style="width: 550px; margin: 10px auto; font-family:Helvetica Neue,sans-serif">
    <a href="http://backtracks.co" style="text-decoration: none;">
      <center>
        <%= image_tag 'http://backtracks.co/public/images/backtracks-small.png', style: 'display: inline; height: 50px; vertical-align: middle;' %>
        <h1 style="display: inline; color: #1EAEDB; height: 50px; font-size: 32px; vertical-align: middle;">Backtracks</h1>
      </center>
    </a>
    <div style="width:100%; padding-top: 20px; padding-bottom: 20px">
      Hi everyone! Hopefully everything looks pretty similar, but
      the email you're looking at is coming from the 2016 edition
      of Backtracks, and the hope is that it'll be more reliable
      and easier to investigate any issues if they pop up. If
      anything seems weird, please let me know ASAP so I can look
      into it! Thanks a lot for your patience; I'm really excited
      to bring you some new features soon now that the foundation
      is more solid.<br/>
      Questions? Comments? Wanna say hello? Just hit reply!
      <br/><br/>
      -your pal @ckolderup
    </div>
    <%= render partial: 'chart_v1', locals: {years: years} %>
    <div style="font-size: 10px">
      You can unsubscribe from your <a href="http://backtracks.co/account">Account</a> page.
      Feedback? Just reply to this email.
    </div>
  </body>
</html>
